<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<style>
  body {
    background-color: #5b5bf2;
    font-family: "inherit,sans-serif";
    text-align: center;
  }
  .delete {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
</style>
<div class="delete">
  <h3>Update Task</h3>

  <form method="POST" action="">
    {% csrf_token %} {{form}}
    <input type="submit" name="Update Task" />
  </form>
</div>
